.headerBox {
  width: calc(100vw - 100px);
}
.tsapp {
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
}
.logo {
  max-width: 50px;
  max-height: 50px;
  margin-left: 25px;
}
.link {
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}
.link:hover {
  opacity: 1;
  color: yellow;
}
.logo_container {
  display: flex;
  position: relative;
  padding: 0;
  padding-top: 20px;
}
.singleLetter {
  -webkit-text-stroke: 2px yellow;
  text-stroke: 2px yellow;
  -webkit-text-fill-color: transparent;
  fill: transparent;
  font-size: 20px;
}
.logoText {
  position: absolute;
  top: 30px;
}
.nameTitle {
  -webkit-text-stroke: 2px yellow;
  text-stroke: 2px yellow;
  -webkit-text-fill-color: transparent;
  fill: transparent;
}
.phoneRef {
  max-width: 400px;
}
.showUpBoxes {
  position: relative;
  z-index: 20;
}
.prepareBox {
  position: relative;
  margin-top: -50px;
}
.animate-single-box {
  width: 300px;
}

.btnPrepare {
  position: absolute;
  left: 45%;
  right: -50%;
  transform: translateX(-50%, -50%);
  z-index: 20;
  max-width: fit-content;
  margin-top: 100px;
}

/* media queries */
@media screen and (max-width: 768px) {
  .headerBox {
    width: calc(100vw - 40px);
  }
  .animate-single-box {
    width: 260px;
  }
}

@media screen and (max-width: 500px) {
  .phoneRef {
    max-width: 300px;
  }
  .display-none-one-426 {
    display: none;
  }
  .btnPrepare {
    left: 20%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 375px) {
  .phoneRef {
    max-width: 250px;
  }
}
