@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "poppins", sans-serif;
  line-height: 1.3;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font: "poppins", sans-serif;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  font-weight: 500;
  color: #eeedf1ef;
  text-decoration: inherit;
  text-decoration: none;
  font-family: var(--font);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #8a2ce2;
  color: white;
  padding: 0;
  overflow: hidden;
}
::-webkit-scrollbar {
  background-color: white;
  width: 7px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  max-width: 7px;
  background-color: #8a2ce2;
}
::-webkit-scrollbar-track {
  background-color: white;
  width: 7px;
}
#app {
  max-width: 100vw;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

/* media queries */
@media screen and (max-width: 780px) {
  #app {
    padding: 20px;
  }
  body {
    overflow-y: auto;
  }
}
@media screen and (max-height: 600px) {
  body {
    overflow-y: auto;
  }
}
